.container__header {
    display: flex;
    padding-bottom: 3rem;
    margin: 1rem 0 0 1rem;
    position: relative;
    justify-content: center;
}

.ABC__logo {
    position: absolute;
    left: 0;
}

#invoice_list {
    position: absolute;
    left: 0;
    bottom: 0;
}